$color-orange: orange; //criando variaveis no scss
$color-orangered: orangered;
$color-lightblue: lightblue;
$font-global: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


/*AS VARIÁVEIS SÃO CRIADAS PARA FACILITAR O USO DE CORES, POR EXEMPLO;
CORES COM VALORES HEXADECIMAIS, POR EXEMPLO, PODEM SER SIMPLIFICADOS POR UMA VARIVAEL COM
NOME SIMPLES.*/